.poster {

}

.poster:hover {
  cursor: pointer;
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
}

.movie-poster {
  width: 240px;
}

.movie-info > * {
  margin: 0px;
}

.movie-info {
  margin-bottom: 15px;
}
