* {
  font-family: 'Oswald', sans-serif;
}

main {
  background-color: #64284B;
}

.App {
  text-align: center;
  color: #CEBA88;
}

.title {
  margin: 0px;
}

.header {
  background-color: #253035;
  margin: 0px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid #96875A;
}

.bottom-nav {
  background-color: #253035;
  width: 100%;
  height: 75px;
  position: fixed;
  bottom: 0px;
  border-top: 5px solid #96875A;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
