* {
  font-family: 'Oswald', sans-serif;
}

main {
  background-color: #64284B;
  grid-row: 2 / 3;
}

.App {
  text-align: center;
  color: #CEBA88;
  display: grid;
  grid-template-rows: 75px auto 75px;
  min-height: 100vh;
}

.title {
  margin: 0px;
}

.header {
  grid-row: 1 / 2;
  background-color: #253035;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid #96875A;
}

.bottom-nav {
  grid-row: 3 / 4;
  background-color: #253035;
  width: 100%;
  position: fixed;
  bottom: 0px;
  border-top: 5px solid #96875A;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
